<div class='py-3 px-2'>
  <h1>My Tasks</h1>

  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.title, task_path(task) %></li>
    <% end %>
  </ul>

  <%= link_to '➕ Create a new Task', new_task_path %>
</div>
